{% extends "_base.html" %}

{% blcok body %}
<h1>로그인</h1>
{{ request.user }}
    <input type="text" id="username">
    <input type="password" id="password">
    <button id="login-submit">전송</button>
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>

    <script>
$(document).ready(funtion () {
$('#login-submit').click(function() {
    $.post('/apis/v1/users/login/'), {'username': $('#username').val(), 'password': $('#password').val()}, function() {
        location.reload();
    }).fail(function(date)) {
        alert(date.responseJSON.message);
    });
});
});
    </script>